img {
    /* Placeholder image */
    width:200px;
    height:200px;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
}

.col-md {
    /* Add padding to each item in the menu */
    padding-bottom: 30px;
}

.menu-container {
    /* Contains the menu item elements */
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .menu-container {
      max-width: 561px;
    }
  }
  
@media (min-width: 768px) {
    .menu-container {
        max-width: 753px;
    }
}

@media (min-width: 992px) {
    .menu-container {
        max-width: 977px;
    }
}
  
@media (min-width: 1200px) {
    .menu-container {
        max-width: 1185px;
    }
}